.container {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.userCards {
  display: flex;
  flex-flow: row wrap;
  gap:1rem;
}

.userCard {
  padding: 1rem;
  border: solid 1px #000;
  border-radius: 1rem;
}

.userCard img {
  border-radius: 50%;
}

button {
 outline:none;
 border:none;
 margin: 1rem;
 padding: 1rem 2rem;
 font-size: 1.2rem;
}
